* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right top, #E2DEDF, #b3b1b2);
}

.logo {
    color:white;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.img-container {
    height: 70px;
    margin-right: 10px;
}

.img-container img {
    height: 100%;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
a:hover {
    background-color: white;
    border-radius: 10px;
    color: #E2DEDF;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}


/*main*/

section {
    padding: 10px;
}
.banner-container {
    width: 100%;
}
.banner-container img {
    width: 100%;
}
#home article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

#home article div {
    background: linear-gradient(to right top, #E2DEDF, #b3b1b2);
    padding: 5px;
}
h1 {
    margin-bottom: 3px;
}

/*Het bestuur*/
#bestuur .info-bestuur {
    background: linear-gradient(to right top, #E2DEDF, #b3b1b2);
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
}
#bestuur section {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: auto;
    
}
#bestuur article {
    flex: 1;
}
#bestuur .lid1, .lid2, .lid3, .lid4, .lid5, .lid6, .lid7, .lid8{
    flex: 1;
    background: linear-gradient(to right top, #E2DEDF, #b3b1b2);
    margin-bottom: 15px;
    padding: 10px;
}
#bestuur article div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#bestuur .foto-container {
    width: 80%;
    margin-bottom: 5px;
    
}
#bestuur .foto-container img{
    width: 100%;
}


@media screen and (max-width:768px) {
    
    body {
        overflow-X: hidden;
    }
    /*nav*/
    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background: linear-gradient(to right top, #E2DEDF, #b3b1b2);
        opacity: 0.95;
        z-index: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links a {
        font-size: 18px;
    }
    .burger {
        display: block;
        cursor: pointer;
    }

    
}

@media screen and (min-width:768px) {
    .nav-links {
        width: 60%;
    }
    .nav-links a {
        font-size: 12px;
    }
    .logo {
        font-size: 16px;
    }
    main {
        font-size: 17px;
        line-height: 24px;
    }
}

@media screen and (min-width:1100px) {
    .nav-links {
        width: 60%;
    }
    .nav-links a {
        font-size: 16px;
    }
    .logo {
        font-size: 20px;
    }
    main {
        font-size: 17px;
        line-height: 24px;
    }
    section {
        width: 80%;
        margin: auto;
    }
    /*home*/
    #home article {
        flex-direction: row;
    }
    #home article div{
        flex: 1;
        padding: 20px;
    }

}












.nav-active {
    transform: translateX(0%);
}







