* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right top, #E2DEDF, #b3b1b2);
}

.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.img-container {
    height: 70px;
    margin-right: 10px;
}

.img-container img {
    height: 100%;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

a:hover {
    background-color: white;
    border-radius: 10px;
    color: #E2DEDF;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

/*main*/

main {
    padding: 10px;
}

.banner-container {
    width: 100%;
}

.banner-container img {
    width: 100%;
}

#home article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

#home article div {
    background: linear-gradient(to right top, #E2DEDF, #b3b1b2);
    padding: 5px;
}

h1 {
    margin-bottom: 3px;
}

/*Het bestuur*/

#bestuur section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#bestuur .foto-container {
    max-width: 250px;
}

#bestuur .foto-container img {
    width: 100%;
}

#bestuur .lid {
    background: linear-gradient(to right top, #E2DEDF, #b3b1b2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#bestuur .lid h1 {
    text-align: center;
}

#bestuur .lid p {
    text-align: center;
}

/*Verhuur*/

#verhuur section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#verhuur .verhuur1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-column: 1 / span 2;
    grid-row: 1;
    background: linear-gradient(to right top, #E2DEDF, #b3b1b2);
    padding: 10px;
    align-items: center;
    width: 100%;
}

#verhuur .verhuur2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-column: 1 / span 2;
    grid-row: 2;
    background: linear-gradient(to right top, #E2DEDF, #b3b1b2);
    padding: 10px;
    align-items: center;
    width: 100%;
}

#verhuur .foto-container {
    width: 450px;
}

#verhuur .foto-container img {
    width: 100%;
}

#verhuur .verhuur-info {
    line-height: 18px;
}

#verhuur .verhuur-info h1 {
    margin: 10px 0;
}

#verhuur .huurknop {
    height: 30px;
    padding: 5px;
    background-color: white;
    margin-top: 20px;
}

/*Word lid*/
#wordLid .img-container {
    display: none;
}
#wordLid section {
    
    background: #E2DEDF;
    margin: auto;
    padding: 10px 40px;
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    border-radius: 8px;
}

#wordLid form {
    flex: 2;
    
}

#wordLid .naam {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.voornaam {
    flex-basis: 48%;
}

.achternaam {
    flex-basis: 48%;
}

#wordLid .adres {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.straat {
    flex-basis: 55%;
}

.huisnummer {
    flex-basis: 20%;
}

.bus {
    flex-basis: 20%;
}

#email, #stad-dorp {
    width: 100%;
}

input[type=text], input[type=email], input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
}

input[type=submit]:hover {
    background-color: gray;
    color: white;
    transition: 0.5s ease;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#word-lid .img-container {
    flex: 1;
}

#word-lid section img {
    width: 100%;
    box-shadow: 7px 7px gray;
}



@media screen and (max-width:768px) {
    body {
        overflow-X: hidden;
    }
    /*nav*/
    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background: linear-gradient(to right top, #E2DEDF, #b3b1b2);
        opacity: 0.95;
        z-index: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links a {
        font-size: 18px;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
    /*bestuur*/
    #bestuur .foto-container {
        max-width: 250px;
    }
    /*Verhuur*/
    #verhuur .verhuur1 {
        height: 500px;
    }
    #verhuur .verhuur2 {
        height: 500px;
    }

    
    
/*Word lid*/
    
}

@media screen and (min-width:768px) {
    .nav-links {
        width: 60%;
    }
    .nav-links a {
        font-size: 12px;
    }
    .logo {
        font-size: 16px;
    }
    main {
        font-size: 17px;
        line-height: 24px;
    }
    /*Bestuur*/
    #bestuur .foto-container {
        max-width: 300px;
    }
    /*Verhuur*/
    #verhuur .verhuur1 {
        grid-column: 1;
        grid-row: 1;
    }
    #verhuur .verhuur2 {
        grid-column: 2;
        grid-row: 1;
    }
    #verhuur .foto-container {
        height: 300px;
    }
    #verhuur .foto-container img {
        height: 100%;
    }

    /*word lid*/
    #wordLid .img-container {
        display: block;
        height: 200px;
        justify-items: center;
        background-color: black;

    }
    #wordLid section {
        
        background: #E2DEDF;
        margin: auto;
        padding: 10px 40px;
        display: flex;
        margin-bottom: 30px;
        align-items: center;
        border-radius: 8px;
    }
    
    #wordLid form {
        flex: 2;
        
    }
    
    #wordLid .naam {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .voornaam {
        flex-basis: 48%;
    }
    
    .achternaam {
        flex-basis: 48%;
    }
    
    #wordLid .adres {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .straat {
        flex-basis: 55%;
    }
    
    .huisnummer {
        flex-basis: 20%;
    }
    
    .bus {
        flex-basis: 20%;
    }
    
    #email, #stad-dorp {
        width: 100%;
    }
    
    input[type=text], input[type=email], input[type=number], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    
    input[type=submit] {
        background-color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        color: black;
    }
    
    input[type=submit]:hover {
        background-color: gray;
        color: white;
        transition: 0.5s ease;
    }
    
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    #word-lid .img-container {
        flex: 1;
    }
    
    #word-lid section img {
        width: 100%;
        box-shadow: 7px 7px gray;
    }
    
}

@media screen and (min-width:1100px) {
    .nav-links {
        width: 60%;
    }
    .nav-links a {
        font-size: 16px;
    }
    .logo {
        font-size: 20px;
    }
    main {
        font-size: 17px;
        line-height: 24px;
    }
    section {
        width: 80%;
        margin: auto;
    }
    /*home*/
    #home article {
        flex-direction: row;
    }
    #home article div {
        flex: 1;
        padding: 20px;
    }
    /*Verhuur*/
    #verhuur section {
        width: 70%;
    }
}

.nav-active {
    transform: translateX(0%);
}